<h2 class="text-2xl font-semibold">Doświadczenie ✨</h2>
<ul>
  <li class="flex flex-col gap-3">
    <div class="flex flex-col justify-between md:flex-row">
      <h3 class="grow text-xl font-semibold lg:max-w-96">
        Full-stack developer
      </h3>
      <div class="flex gap-3 md:text-lg">
        <p class="md:text-foreground/80">Kokscraft</p>
        <span>•</span>
        <p class="font-semibold">lis. 2023 - gru. 2024</p>
      </div>
    </div>
    <ul
      class="text-foreground/80 flex list-inside list-disc flex-col gap-3 text-left leading-6 text-pretty">
      <li>
        Zbudowanie systemu ról i uprawnień z precyzyjną kontrolą dostępu
        (autoryzacja i uwierzytelnianie)
      </li>
      <li>
        Integracja WebSocket do śledzenia statusu graczy (online/offline) w
        czasie rzeczywistym
      </li>
      <li>Panel do zarządzania użytkownikami i nadawania im ról</li>
      <li>Rejestrowanie i przeglądanie logów akcji</li>
      <li>
        Tworzenie API w Fastify do komunikacji między frontendem a backendem
      </li>
      <li>
        Projektowanie interfejsu w React + TypeScript z zachowaniem spójności
        UI/UX
      </li>
      <li>Integracja z zewnętrznymi API</li>
      <li>Wydajne zarządzanie danymi przy użyciu Prisma i MySQL</li>
      <li>Tworzenie kompleksowych tabel danych oraz paginacji</li>
    </ul>
  </li>
</ul>
