<h2 class="text-2xl font-semibold">Doświadczenie 💻</h2>
<ul>
  <li class="flex flex-col gap-3">
    <div class="flex flex-col justify-between md:flex-row">
      <h3 class="grow text-xl font-semibold lg:max-w-96">
        Full-stack developer
      </h3>
      <div class="flex gap-3 md:text-lg">
        <p class="md:text-foreground/85">Kokscraft</p>
        <span>•</span>
        <p class="font-semibold">lis. 2023 - obecnie</p>
      </div>
    </div>
    <ul
      class="text-foreground/85 flex list-inside list-disc flex-col gap-3 pl-0.5 text-left leading-6 text-pretty">
      <li>
          System Kontroli Dostępu (RBAC): Precyzyjna autoryzacja i uwierzytelnianie z podziałem na role.
      </li>
      <li>
          Komunikacja Real-time: Wykorzystanie WebSockets do śledzenia aktywności graczy online/offline.
      </li>
      <li>Zaawansowany UI/UX: Responsywny interfejs (React + TS) z kompleksowymi tabelami danych (paginacja, filtrowanie).</li>
      <li>Audyt i Logi: Moduł do rejestrowania i przeglądania historii akcji użytkowników.</li>
      <li>Integracja z zewnętrznymi API</li>
      <li>Wydajne zarządzanie danymi przy użyciu Prisma i MySQL</li>
      <li>Utrzymanie systemu i aktualizacja zależności</li>
    </ul>
  </li>
</ul>
