---
import SectionHeading from "@/components/about-page/section-heading.astro";
import AccentShimmer from "@/components/ui/accent-shimmer.astro";
import { formatPostDate } from "@/utils/format-post-date";
import { getPostsSorted } from "@/utils/get-posts-sorted";

const allBlogPosts = await getPostsSorted();
const latestPosts = allBlogPosts.slice(0, 3);
---

<section class="flex flex-col gap-6">
  <SectionHeading title="Ostatnie posty" />

  <div class="grid gap-4">
    {
      latestPosts.map((post) => {
        const slug = post.id;
        const { title, description, pubDate, updatedDate } = post.data;
        const date = formatPostDate(updatedDate ? updatedDate : pubDate);

        return (
          <a
            class="shadow-accent-sm bg-background/10 backdrop-blur-xs border-border relative hover:border-accent/16 group flex flex-col gap-3 rounded-lg border p-4 transition-colors sm:p-5"
            href={`/blog/${slug}`}
          >
            <AccentShimmer opacity={25} />
            <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:gap-3">
              <h3 class="text-base font-semibold group-hover:text-accent transition-colors sm:text-lg">
                {title}
              </h3>
              <span class="text-foreground-secondary text-xs font-medium tabular-nums sm:ml-auto sm:text-sm">
                {date}
              </span>
            </div>
            <p class="text-foreground-body max-w-[65ch] text-[0.938rem] leading-relaxed text-pretty">
              {description}
            </p>
          </a>
        );
      })
    }
  </div>
</section>
