---
type Props = {
  title: string;
  id?: string;
};

const { title, id } = Astro.props;
---

<h2
  class="text-foreground-secondary text-xs md:text-sm font-semibold uppercase tracking-widest"
  id={id}
>
  {title}
</h2>
