---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import html from "../technologies/html.astro";
import css from "../technologies/css.astro";
import javascript from "../technologies/javascript.astro";
import react from "../technologies/react.astro";
import typescript from "../technologies/typescript.astro";
import tailwindcss from "../technologies/tailwind.astro";
import nextdotjs from "../technologies/next.astro";
import tanstack from "../technologies/tanstack.astro";
import astroicon from "../technologies/astroicon.astro";
import nodedotjs from "../technologies/node.astro";
import linux from "../technologies/linux.astro";
import shadcn from "../technologies/shadcnui.astro";
import bun from "../technologies/bun.astro";
import socketio from "../technologies/socketdotio.astro";
import fastify from "../technologies/fastify.astro";
import express from "../technologies/express.astro";
import cypress from "../technologies/cypress.astro";
import vitest from "../technologies/vitest.astro";
import vite from "../technologies/vite.astro";
import docker from "../technologies/docker.astro";
import prisma from "../technologies/prisma.astro";
import drizzle from "../technologies/drizzle.astro";
import zod from "../technologies/zod.astro";
import postgresql from "../technologies/postgresql.astro";
import figma from "../technologies/figma.astro";
import nginx from "../technologies/nginx.astro";
import eslint from "../technologies/eslint.astro";
import prettier from "../technologies/prettier.astro";
import redis from "../technologies/redis.astro";
import testinglib from "../technologies/testinglibrary.astro";
import git from "../technologies/git.astro";

type Skill = {
  name: string;
  color: string;
  icon: AstroComponentFactory;
};

const skills = [
  { name: "HTML", color: "#E34F26", icon: html },
  { name: "CSS", color: "#663399", icon: css },
  { name: "JavaScript", color: "#F7DF1E", icon: javascript },
  { name: "React", color: "#61DAFB", icon: react },
  { name: "TypeScript", color: "#3178C6", icon: typescript },
  { name: "Tailwind CSS", color: "#06B6D4", icon: tailwindcss },
  { name: "Next.js", color: "#000000", icon: nextdotjs },
  { name: "TanStack", color: "#232323", icon: tanstack },
  { name: "shadcn/ui", color: "#000000", icon: shadcn },
  { name: "Astro", color: "#BC52EE", icon: astroicon },
  { name: "Node.js", color: "#5FA04E", icon: nodedotjs },
  { name: "Bun", color: "#000000", icon: bun },
  { name: "ESlint", color: "#4B32C3", icon: eslint },
  { name: "Prettier", color: "#F7B93E", icon: prettier },
  { name: "Socket.io", color: "#010101", icon: socketio },
  { name: "Linux", color: "#FCC624", icon: linux },
  { name: "Fastify", color: "#000000", icon: fastify },
  { name: "Express", color: "#000000", icon: express },
  { name: "Cypress", color: "#69D3A7", icon: cypress },
  { name: "Vitest", color: "#6E9F18", icon: vitest },
  { name: "Zod", color: "#3E67B1", icon: zod },
  { name: "Vite", color: "#646CFF", icon: vite },
  { name: "Testing library", color: "#E33332", icon: testinglib },
  { name: "Git", color: "#F05032", icon: git },
  { name: "Docker", color: "#2496ED", icon: docker },
  { name: "Redis", color: "#FF4438", icon: redis },
  { name: "PostgreSQL", color: "#4169E1", icon: postgresql },
  { name: "Prisma", color: "#2D3748", icon: prisma },
  { name: "Drizzle", color: "#C5F74F", icon: drizzle },
  { name: "Figma", color: "#F24E1E", icon: figma },
  { name: "NGINX", color: "#009639", icon: nginx }
] satisfies Skill[];
---

<h2 class="text-2xl font-semibold">Technologie 🛠️</h2>
<ul
  class="lg:grid-cols- grid grid-cols-2 gap-2 md:grid-cols-5 lg:grid-cols-6 lg:gap-3">
  {
    skills.map(({ color, icon: Icon, name }) => {
      return (
        <li
          style={`--bg-skill: ${color}`}
          title={name}
          class="text-foreground flex items-center gap-3 rounded-md border border-white/5 bg-(--bg-skill)/30 fill-white px-3 py-2 font-semibold text-ellipsis backdrop-blur-md transition-transform hover:scale-95">
          <div class="size-6 shrink-0">
            <Icon />
          </div>
          <p class="truncate">{name}</p>
        </li>
      );
    })
  }
</ul>
