---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Html from "../technologies/html.astro";
import Css from "../technologies/css.astro";
import Javascript from "../technologies/javascript.astro";
import React from "../technologies/react.astro";
import Typescript from "../technologies/typescript.astro";
import Tailwindcss from "../technologies/tailwind.astro";
import Nextdotjs from "../technologies/next.astro";
import Tanstack from "../technologies/tanstack.astro";
import AstroIcon from "../technologies/astroicon.astro";
import Nodedotjs from "../technologies/node.astro";
import Linux from "../technologies/linux.astro";
import Shadcn from "../technologies/shadcnui.astro";
import Bun from "../technologies/bun.astro";
import SocketIO from "../technologies/socketdotio.astro";
import Fastify from "../technologies/fastify.astro";
import Express from "../technologies/express.astro";
import Cypress from "../technologies/cypress.astro";
import Vitest from "../technologies/vitest.astro";
import Vite from "../technologies/vite.astro";
import Docker from "../technologies/docker.astro";
import Prisma from "../technologies/prisma.astro";
import Drizzle from "../technologies/drizzle.astro";
import Zod from "../technologies/zod.astro";
import PostgreSQL from "../technologies/postgresql.astro";
import Figma from "../technologies/figma.astro";
import Nginx from "../technologies/nginx.astro";
import ESlint from "../technologies/eslint.astro";
import prettier from "../technologies/prettier.astro";
import redis from "../technologies/redis.astro";
import testingLib from "../technologies/testinglibrary.astro";
import git from "../technologies/git.astro";

type Skill = {
  name: string;
  color: string;
  icon: AstroComponentFactory;
};

const skills = [
  { name: "HTML", color: "#E34F26", icon: Html },
  { name: "CSS", color: "#663399", icon: Css },
  { name: "JavaScript", color: "#F7DF1E", icon: Javascript },
  { name: "React", color: "#61DAFB", icon: React },
  { name: "TypeScript", color: "#3178C6", icon: Typescript },
  { name: "Tailwind CSS", color: "#06B6D4", icon: Tailwindcss },
  { name: "Next.js", color: "#000000", icon: Nextdotjs },
  { name: "TanStack", color: "#232323", icon: Tanstack },
  { name: "shadcn/ui", color: "#000000", icon: Shadcn },
  { name: "Astro", color: "#BC52EE", icon: AstroIcon },
  { name: "Node.js", color: "#5FA04E", icon: Nodedotjs },
  { name: "Bun", color: "#000000", icon: Bun },
  { name: "ESlint", color: "#4B32C3", icon: ESlint },
  { name: "Prettier", color: "#F7B93E", icon: prettier },
  { name: "Socket.io", color: "#010101", icon: SocketIO },
  { name: "Linux", color: "#FCC624", icon: Linux },
  { name: "Fastify", color: "#000000", icon: Fastify },
  { name: "Express", color: "#000000", icon: Express },
  { name: "Cypress", color: "#69D3A7", icon: Cypress },
  { name: "Vitest", color: "#6E9F18", icon: Vitest },
  { name: "Zod", color: "#3E67B1", icon: Zod },
  { name: "Vite", color: "#646CFF", icon: Vite },
  { name: "Testing library", color: "#E33332", icon: testingLib },
  { name: "Git", color: "#F05032", icon: git },
  { name: "Docker", color: "#2496ED", icon: Docker },
  { name: "Redis", color: "#FF4438", icon: redis },
  { name: "PostgreSQL", color: "#4169E1", icon: PostgreSQL },
  { name: "Prisma", color: "#2D3748", icon: Prisma },
  { name: "Drizzle", color: "#C5F74F", icon: Drizzle },
  { name: "Figma", color: "#F24E1E", icon: Figma },
  { name: "NGINX", color: "#009639", icon: Nginx }
] satisfies Skill[];
---

<h2 class="text-2xl font-semibold">Technologie 🛠️</h2>
<ul
  class="lg:grid-cols- grid grid-cols-2 gap-2 md:grid-cols-5 lg:grid-cols-6 lg:gap-3">
  {
    skills.map(({ color, icon: Icon, name }) => {
      return (
        <li
          style={`--bg-skill: ${color}`}
          class="text-foreground flex items-center gap-3 rounded-md border border-white/5 bg-(--bg-skill)/30 fill-white px-3 py-2 font-semibold backdrop-blur-md transition-transform hover:scale-95">
          <div class="size-6">
            <Icon />
          </div>
          {name}
        </li>
      );
    })
  }
</ul>
