---
import SectionHeading from "@/components/about-page/section-heading.astro";
import astroicon from "@components/technologies/astroicon.astro";
import bun from "@components/technologies/bun.astro";
import chakraui from "@components/technologies/chakra.astro";
import css from "@components/technologies/css.astro";
import cypress from "@components/technologies/cypress.astro";
import docker from "@components/technologies/docker.astro";
import drizzle from "@components/technologies/drizzle.astro";
import eslint from "@components/technologies/eslint.astro";
import express from "@components/technologies/express.astro";
import fastify from "@components/technologies/fastify.astro";
import figma from "@components/technologies/figma.astro";
import git from "@components/technologies/git.astro";
import html from "@components/technologies/html.astro";
import javascript from "@components/technologies/javascript.astro";
import jest from "@components/technologies/jest.astro";
import linux from "@components/technologies/linux.astro";
import mantine from "@components/technologies/mantine.astro";
import nestjs from "@components/technologies/nestjs.astro";
import nextdotjs from "@components/technologies/next.astro";
import nginx from "@components/technologies/nginx.astro";
import nodedotjs from "@components/technologies/node.astro";
import nx from "@components/technologies/nx.astro";
import oxc from "@components/technologies/oxc.astro";
import pnpm from "@components/technologies/pnpm.astro";
import postgresql from "@components/technologies/postgresql.astro";
import prettier from "@components/technologies/prettier.astro";
import prisma from "@components/technologies/prisma.astro";
import react from "@components/technologies/react.astro";
import redis from "@components/technologies/redis.astro";
import shadcn from "@components/technologies/shadcnui.astro";
import socketio from "@components/technologies/socketdotio.astro";
import storybook from "@components/technologies/storybook.astro";
import swagger from "@components/technologies/swagger.astro";
import tailwindcss from "@components/technologies/tailwind.astro";
import tanstack from "@components/technologies/tanstack.astro";
import testinglib from "@components/technologies/testinglibrary.astro";
import turborepo from "@components/technologies/turborepo.astro";
import typescript from "@components/technologies/typescript.astro";
import vite from "@components/technologies/vite.astro";
import vitest from "@components/technologies/vitest.astro";
import zod from "@components/technologies/zod.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import clsx from "clsx";

type Technology = {
  name: string;
  color: string;
  iconColor: string;
  icon: AstroComponentFactory;
  link: string;
};

const technologies: Technology[] = [
  {
    name: "HTML",
    color: "#E34F26",
    iconColor: "#E34F26",
    icon: html,
    link: "https://developer.mozilla.org/en-US/docs/Web/HTML",
  },
  {
    name: "CSS",
    color: "#663399",
    iconColor: "#663399",
    icon: css,
    link: "https://developer.mozilla.org/en-US/docs/Web/CSS",
  },
  {
    name: "JavaScript",
    color: "#F7DF1E",
    iconColor: "#F7DF1E",
    icon: javascript,
    link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  {
    name: "React",
    color: "#61DBFB",
    iconColor: "#61DBFB",
    icon: react,
    link: "https://react.dev",
  },
  {
    name: "TypeScript",
    color: "#3178C6",
    iconColor: "#3178C6",
    icon: typescript,
    link: "https://www.typescriptlang.org",
  },
  {
    name: "Tailwind CSS",
    color: "#06B6D4",
    iconColor: "#06B6D4",
    icon: tailwindcss,
    link: "https://tailwindcss.com",
  },
  {
    name: "Next.js",
    color: "#000000",
    iconColor: "#000000",
    icon: nextdotjs,
    link: "https://nextjs.org",
  },
  {
    name: "TanStack",
    color: "#232323",
    iconColor: "#232323",
    icon: tanstack,
    link: "https://tanstack.com",
  },
  {
    name: "shadcn/ui",
    color: "#000000",
    iconColor: "#000000",
    icon: shadcn,
    link: "https://ui.shadcn.com",
  },
  {
    name: "Mantine",
    color: "#339AF0",
    iconColor: "#339AF0",
    icon: mantine,
    link: "https://mantine.dev",
  },
  {
    name: "Chakra UI",
    color: "#1BB2A9",
    iconColor: "#1BB2A9",
    icon: chakraui,
    link: "https://chakra-ui.com/",
  },
  {
    name: "Astro",
    color: "#BC52EE",
    iconColor: "#BC52EE",
    icon: astroicon,
    link: "https://astro.build",
  },
  {
    name: "Node.js",
    color: "#5FA04E",
    iconColor: "#5FA04E",
    icon: nodedotjs,
    link: "https://nodejs.org",
  },
  {
    name: "Bun",
    color: "#000000",
    iconColor: "#000000",
    icon: bun,
    link: "https://bun.sh",
  },
  {
    name: "ESLint",
    color: "#4B32C3",
    iconColor: "#4B32C3",
    icon: eslint,
    link: "https://eslint.org",
  },
  {
    name: "Prettier",
    color: "#F7B93E",
    iconColor: "#F7B93E",
    icon: prettier,
    link: "https://prettier.io",
  },
  {
    name: "Socket.io",
    color: "#010101",
    iconColor: "#010101",
    icon: socketio,
    link: "https://socket.io",
  },
  {
    name: "Linux",
    color: "#FCC624",
    iconColor: "#FCC624",
    icon: linux,
    link: "https://www.kernel.org",
  },
  {
    name: "Fastify",
    color: "#000000",
    iconColor: "#000000",
    icon: fastify,
    link: "https://www.fastify.io",
  },
  {
    name: "Express",
    color: "#000000",
    iconColor: "#000000",
    icon: express,
    link: "https://expressjs.com",
  },
  {
    name: "NestJS",
    color: "#E0234E",
    iconColor: "#E0234E",
    icon: nestjs,
    link: "https://nestjs.com",
  },
  {
    name: "Cypress",
    color: "#69D3A7",
    iconColor: "#69D3A7",
    icon: cypress,
    link: "https://www.cypress.io",
  },
  {
    name: "Jest",
    color: "#C21325",
    iconColor: "#C21325",
    icon: jest,
    link: "https://jestjs.io",
  },
  {
    name: "Vitest",
    color: "#6E9F18",
    iconColor: "#6E9F18",
    icon: vitest,
    link: "https://vitest.dev",
  },
  {
    name: "Zod",
    color: "#3E67B1",
    iconColor: "#3E67B1",
    icon: zod,
    link: "https://zod.dev",
  },
  {
    name: "Vite",
    color: "#646CFF",
    iconColor: "#646CFF",
    icon: vite,
    link: "https://vitejs.dev",
  },
  {
    name: "Oxc",
    color: "#32f3e9",
    iconColor: "#32f3e9",
    icon: oxc,
    link: "https://oxc.rs/",
  },
  {
    name: "Testing Library",
    color: "#E33332",
    iconColor: "#E33332",
    icon: testinglib,
    link: "https://testing-library.com",
  },
  {
    name: "Git",
    color: "#F05032",
    iconColor: "#F05032",
    icon: git,
    link: "https://git-scm.com",
  },
  {
    name: "Docker",
    color: "#2496ED",
    iconColor: "#2496ED",
    icon: docker,
    link: "https://www.docker.com",
  },
  {
    name: "Redis",
    color: "#FF4438",
    iconColor: "#FF4438",
    icon: redis,
    link: "https://redis.io",
  },
  {
    name: "PostgreSQL",
    color: "#4169E1",
    iconColor: "#4169E1",
    icon: postgresql,
    link: "https://www.postgresql.org",
  },
  {
    name: "Prisma",
    color: "#2D3748",
    iconColor: "#2D3748",
    icon: prisma,
    link: "https://www.prisma.io",
  },
  {
    name: "Drizzle",
    color: "#C5F74F",
    iconColor: "#000",
    icon: drizzle,
    link: "https://orm.drizzle.team",
  },
  {
    name: "Storybook",
    color: "#FF4785",
    iconColor: "#FF4785",
    icon: storybook,
    link: "https://storybook.js.org",
  },
  {
    name: "Figma",
    color: "#F24E1E",
    iconColor: "#F24E1E",
    icon: figma,
    link: "https://www.figma.com",
  },
  {
    name: "NGINX",
    color: "#009639",
    iconColor: "#009639",
    icon: nginx,
    link: "https://nginx.org",
  },
  {
    name: "pnpm",
    color: "#F69220",
    iconColor: "#F69220",
    icon: pnpm,
    link: "https://pnpm.io",
  },
  {
    name: "Turborepo",
    color: "#FF1E56",
    iconColor: "#FF1E56",
    icon: turborepo,
    link: "https://turbo.build",
  },
  {
    name: "Nx",
    color: "#143055",
    iconColor: "#143055",
    icon: nx,
    link: "https://nx.dev",
  },
  {
    name: "Swagger",
    color: "#85EA2D",
    iconColor: "#85EA2D",
    icon: swagger,
    link: "https://swagger.io",
  },
];
---

<section class="flex flex-col gap-6">
  <SectionHeading title="Technologie" />
  <ul class="grid grid-cols-2 gap-2 md:grid-cols-5 lg:grid-cols-6 lg:gap-3">
    {
      technologies.map(({ color, iconColor, icon: Icon, name, link }) => {
        const bgVariable = color === "#000000" ? "var(--accent)" : color;
        const fgVariable =
          color === "#000000" ? "var(--foreground-secondary)" : iconColor;

        const bgColor =
          color === "#000000" ? "bg-(--accent)/10" : "bg-(--bg-skill)/10";

        const borderColor =
          color === "#000000"
            ? "border-(--accent)/20"
            : "border-(--bg-skill)/15";

        return (
          <li>
            <a
              href={link}
              target="_blank"
              class="group block outline-none"
              rel="noopener noreferrer"
            >
              <figure
                style={`--bg-skill: ${bgVariable}; --fg-skill: ${fgVariable}`}
                class={clsx(
                  bgColor,
                  borderColor,
                  "flex items-center gap-3 rounded-md border fill-white px-3 py-2 font-semibold text-ellipsis transition-all ease-out group-hover:bg-(--bg-skill)/25 group-focus:scale-98 group-focus:border-(--bg-skill)/30 hover:scale-97 hover:border-(--bg-skill)/20 hover:bg-(--bg-skill)/35 dark:bg-(--bg-skill)/30",
                )}
              >
                <div class="dark:text-foreground-body drop-shadow-lg-outline relative flex size-6 shrink-0 items-center justify-center text-(--fg-skill)">
                  <Icon />
                </div>
                <figcaption class="truncate">{name}</figcaption>
              </figure>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
