@keyframes hero-gradient-animation {
  0% {
    --s-start-0: 8%;
    --s-end-0: 83%;
    --c-0: hsla(220, 77%, 25%, 1);
    --y-0: 69%;
    --x-0: 57%;
    --y-1: 39%;
    --c-1: hsla(261, 70%, 22%, 1);
    --x-1: 98%;
    --s-start-1: 1%;
    --s-end-1: 80%;
    --c-2: hsla(170, 85%, 22%, 1);
    --x-2: 35%;
    --y-2: 56%;
    --s-start-2: 12%;
    --s-end-2: 83%;
    --x-3: 70%;
    --s-start-3: 18%;
    --s-end-3: 71%;
    --c-3: hsla(214, 92%, 22%, 1);
    --y-3: 82%;
    --c-4: hsla(169, 64%, 30%, 1);
    --s-start-4: 6%;
    --s-end-4: 72%;
    --y-4: 84%;
    --x-4: 40%;
  }

  100% {
    --s-start-0: 14%;
    --s-end-0: 54%;
    --c-0: hsla(241, 70%, 39%, 1);
    --y-0: 95%;
    --x-0: 69%;
    --y-1: 42%;
    --c-1: hsla(154, 84%, 11%, 1);
    --x-1: 70%;
    --s-start-1: 7%;
    --s-end-1: 51%;
    --c-2: hsla(181, 83%, 12%, 1);
    --x-2: 59%;
    --y-2: 1%;
    --s-start-2: 13%;
    --s-end-2: 74%;
    --x-3: 10%;
    --s-start-3: 15%;
    --s-end-3: 60%;
    --c-3: hsla(261, 68%, 12%, 1);
    --y-3: 100%;
    --c-4: hsla(263, 53%, 47%, 1);
    --s-start-4: 9%;
    --s-end-4: 72%;
    --y-4: 76%;
    --x-4: 16%;
  }
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 8%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 83%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(220, 77%, 25%, 1);
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 69%;
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 57%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 39%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(261, 70%, 22%, 1);
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 98%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 1%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(170, 85%, 22%, 1);
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 35%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 56%;
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 12%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 83%;
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 70%;
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 18%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 71%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(214, 92%, 22%, 1);
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82%;
}

@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(169, 64%, 30%, 1);
}

@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 6%;
}

@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 72%;
}

@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 84%;
}

@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 40%;
}

.bg-mesh {
  --c-0: hsla(220, 77%, 25%, 1);
  --y-0: 69%;
  --x-0: 57%;
  --y-1: 39%;
  --c-1: hsla(261, 70%, 15%, 1);
  --x-1: 98%;
  --c-2: hsla(170, 85%, 22%, 1);
  --x-2: 35%;
  --y-2: 56%;
  --x-3: 70%;
  --c-3: hsla(214, 92%, 22%, 1);
  --y-3: 82%;
  --c-4: hsla(169, 64%, 30%, 1);
  --y-4: 84%;
  --x-4: 40%;
  background-color: hsla(262, 82%, 3%, 1);
  background-image:
    radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    ),
    radial-gradient(
      circle at var(--x-4) var(--y-4),
      var(--c-4) var(--s-start-4),
      transparent var(--s-end-4)
    );
  background-attachment: fixed;
  animation: hero-gradient-animation 40s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
