@reference "./global.css";

code:not([data-language]) {
   @apply text-accent bg-accent/8 border-accent/15 rounded-md border px-1.5 py-0.5 text-[0.9em] font-medium wrap-break-word;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

pre[data-language] {
   @apply rounded-md;
}

[data-rehype-pretty-code-figure] {
   @apply relative my-10;
}

[data-rehype-pretty-code-figure] [data-copy-btn] {
   @apply absolute top-2 right-2 z-10 flex size-8 cursor-pointer items-center backdrop-blur-lg justify-center rounded-md bg-white/13 text-white/60 opacity-100 md:opacity-0 transition-opacity hover:text-white hover:bg-white/20;
}

[data-rehype-pretty-code-figure]:hover [data-copy-btn] {
   @apply md:opacity-100;
}

/* disable margins and border radius for code inside tabs */
[data-tab-panel] [data-rehype-pretty-code-figure] {
   @apply my-0;
}

[data-tab-panel] [data-language] {
   @apply rounded-none;
}

[data-rehype-pretty-code-figure] code {
   @apply w-full min-w-[100px] overflow-x-auto py-3 text-sm text-nowrap md:py-4;
}

[data-rehype-pretty-code-title] {
   @apply relative top-2.5 w-fit max-w-full rounded-md bg-[#1b1e28] px-4 py-2 text-base wrap-break-word text-white;
}

[data-rehype-pretty-code-caption] {
   text-align: center;
   @apply mt-2 text-xs italic;
}

[data-line] {
   @apply bg-(--shiki-light-bg) px-0 leading-7;
}

[data-code-line] {
   @apply text-(--shiki-light);
}

[data-highlighted-line] {
   @apply bg-foreground text-background opacity-70;
}

.has-diff [data-line] {
   @apply pr-3 pl-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
   counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
   counter-increment: line;
   content: counter(line);
   display: inline-block;
   text-align: right;
   margin-left: 0.25rem;
   margin-right: 1rem;
   width: 2rem;
   opacity: 0.4;
}

[data-rehype-pretty-code-figure] code:not([data-line-numbers]) {
   padding-left: 1.5rem;
}

[data-diff="add"] {
   @apply bg-code-green/40 border-code-green/80 border-l-4;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-diff="add"]::before {
   margin-left: 0;
   content: "+ " counter(line);
}

[data-diff="add"]::before {
   margin-left: 0;
   content: "+";
}

[data-diff="remove"] {
   @apply bg-code-red/40 border-code-red/80 border-l-4;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-diff="remove"]::before {
   margin-left: 0;
   content: "- " counter(line);
}

[data-diff="remove"]::before {
   margin-left: 0;
   content: "-";
}

.has-focused [data-line]:not([data-focused]) {
   filter: blur(1.5px);
   opacity: 0.7;
   transition:
      filter 0.35s,
      opacity 0.35s;
}

.has-focused:hover [data-line],
[data-rehype-pretty-code-title]:hover + pre [data-line] {
   filter: none;
   opacity: 1;
}
