@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --width-half: 50%;
  --list-style-type-hyphen: "– ";
  --background-image-blog-gradient: var(--blog-gradient);
  --background-image-blog-hero-gradient: var(--blog-hero-gradient);

  --color-success: var(--sucess);
  --color-destructive: var(--destructive);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --shadow-blog: var(--shadow-blog);

  --color-code-bg: var(--code-bg);
}

@layer components {
  [data-blog-content] *:is(h2, h3, h4, h5, h6) {
    @apply text-foreground w-fit scroll-mt-8 items-center font-semibold;
  }

  [data-blog-content] *:is(h2) {
    @apply text-xl;
  }

  [data-blog-content] *:is(h3, h4, h5, h6) {
    @apply text-lg;
  }

  [data-blog-content] a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6) {
    @apply underline;
  }

  [data-anchor-link] {
    @apply mt-4 flex gap-3;
  }

  [data-anchor-link]:hover > [data-anchor-hash] {
    @apply opacity-101;
  }

  [data-anchor-hash] {
    @apply opacity-30 transition-opacity duration-300;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-mono);
  }

  :root {
    --background-base: 99.4% 0.0019 217.4;
    --background: oklch(var(--background-base));
    --foreground-base: 30.47% 0.02 207.53;
    --foreground: oklch(var(--foreground-base));

    --color-success-base: 80% 0.09 180;
    --color-success: oklch(var(--color-success-base) / 0.7);

    --color-destructive-base: 60% 0.09 20;
    --color-destructive: oklch(var(--color-destructive-base));

    --muted-base: 96.4% 0.0019 217.4;
    --muted-foreground-base: 40.75% 0.011 270.11;

    --muted: oklch(var(--muted-base));
    --muted-foreground: oklch(var(--muted-foreground-base));

    --code-bg: var(--shiki-light-bg);
    --shadow-blog:
      0 0 0 1px oklch(var(--foreground-base) / 0.05),
      0 4px 10px 2px oklch(var(--foreground-base) / 0.08);

    --blog-gradient: linear-gradient(
      to right,
      oklch(var(--muted-base)) 5%,
      oklch(var(--muted-base) / 0.95) 25%,
      oklch(var(--muted-base) / 0.67) 70%,
      oklch(var(--muted-base) / 0.5) 100%
    );

    --blog-hero-gradient: linear-gradient(
      to bottom,
      oklch(var(--background-base) / 1) 0%,
      oklch(var(--background-base) / 0.6) 30%,
      oklch(var(--background-base) / 0.6) 50%,
      oklch(var(--background-base) / 1) 100%
    );

    @media (width >= 64rem) {
      --blog-hero-gradient: linear-gradient(
        to bottom,
        oklch(var(--background-base) / 1) 0%,
        oklch(var(--background-base) / 0.65) 30%,
        oklch(var(--background-base) / 0.65) 50%,
        oklch(var(--background-base) / 1) 100%
      );
    }
  }

  .dark {
    color-scheme: dark;
    --background-base: 26.64% 0.035 264.13;
    --background: oklch(var(--background-base));

    --foreground-base: 92.64% 0.04 264.13;
    --foreground: oklch(var(--foreground-base));

    --color-success-base: 45% 0.07 180.11;
    --color-success: oklch(var(--color-success-base) / 0.9);

    --color-destructive-base: 45% 0.095 10;
    --color-destructive: oklch(var(--color-destructive-base));

    --muted-base: 30.64% 0.035 264.13;
    --muted-foreground-base: 80.64% 0.04 264.13;

    --muted: oklch(var(--muted-base));
    --muted-foreground: oklch(var(--muted-foreground-base));

    --code-bg: var(--shiki-dark-bg);

    --shadow-blog: 0 0 0 1px oklch(var(--foreground-base) / 0.15);

    --blog-gradient: linear-gradient(
      to right,
      oklch(var(--muted-base) / 1) 0%,
      oklch(var(--muted-base) / 0.96) 15%,
      oklch(var(--muted-base) / 0.7) 80%,
      oklch(var(--muted-base) / 0.5) 100%
    );

    --blog-hero-gradient: linear-gradient(
      to bottom,
      oklch(var(--background-base) / 1) 0%,
      oklch(var(--background-base) / 0.6) 30%,
      oklch(var(--background-base) / 0.6) 50%,
      oklch(var(--background-base) / 1) 100%
    );

    @media (width >= 64rem) {
      --blog-hero-gradient: linear-gradient(
        to bottom,
        oklch(var(--background-base) / 1) 0%,
        oklch(var(--background-base) / 0.65) 30%,
        oklch(var(--background-base) / 1) 100%
      );
    }
  }
}
