---
export const prerender = true;

import Expeirence from "@components/about-page/expeirence.astro";
import Header from "@components/about-page/header.astro";
import OpenSource from "@components/about-page/open-source.astro";
import Layout from "@layouts/layout.astro";
import Technologies from "@/components/about-page/technologies.astro";
import HomeSectionBorder from "@/components/home-section-border.astro";
---

<Layout>
  <div class="mx-auto flex w-full max-w-[55rem] flex-col gap-10">
    <Header />

    <HomeSectionBorder>
      <Expeirence />
    </HomeSectionBorder>

    <HomeSectionBorder>
      <Technologies />
    </HomeSectionBorder>

    <HomeSectionBorder>
      <OpenSource />
    </HomeSectionBorder>
  </div>
</Layout>
