---
import { fade } from "astro:transitions";
import clsx from "clsx";

type Link = {
  url: string;
  text: string;
};

const navigationData: Array<Link> = [
  {
    text: "O mnie",
    url: "/"
  },
  {
    text: "Projekty",
    url: "/projekty"
  },
  {
    text: "Blog",
    url: "/blog"
  }
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<nav
  class="flex items-center justify-start"
  transition:animate={fade({ duration: "0.2s" })}>
  <ul class="flex gap-x-4 gap-y-4 tracking-tight lg:gap-x-8">
    {
      navigationData.map((n) => {
        const isActive =
          n.url === pathname || n.url === "/" + (subpath?.[0] || "");

        const isBlogPage = n.url === "/blog/";

        const isBlogPageActive =
          isBlogPage && Astro.url.pathname.startsWith("/blog/");

        return (
          <li>
            <a
              href={n.url}
              class={clsx(
                "rounded px-2 py-1 transition-colors lg:px-3",
                isActive || isBlogPageActive
                  ? "bg-foreground text-background font-semibold"
                  : "text-muted-foreground hover:bg-muted"
              )}>
              {n.text}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
