---
import logoIcon from "@assets/logoIcon.png";
import Picture from "astro/components/Picture.astro";
import clsx from "clsx";
import ThemeSwitcher from "@/components/theme-switcher.astro";

type Link = {
   url: string;
   text: string;
};

const navigationData: Array<Link> = [
   {
      text: "O mnie",
      url: "/",
   },
   {
      text: "Blog",
      url: "/blog",
   },
   {
      text: "Projekty",
      url: "/projekty",
   },
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^/]+/g);
---

<nav class="flex items-center justify-start px-0.5">
  <div class="flex items-center gap-5 md:gap-10">
    <a href="/">
      <Picture
        formats={["webp"]}
        src={logoIcon}
        alt="Maciej Garncarski Logo"
        height={40}
        width={40}
        class={"size-10 border border-border rounded-md"}
      />
      <span class="sr-only">Strona główna</span>
    </a>
    <ThemeSwitcher />
  </div>
  <ul
    class="ml-auto flex gap-x-3 gap-y-4 tracking-tight md:gap-x-8"
    transition:name="nav-menu"
  >
    {
      navigationData.map((n) => {
        const isActive =
          n.url === pathname || n.url === "/" + (subpath?.[0] || "");

        const isBlogPage = n.url === "/blog/";

        const isBlogPageActive =
          isBlogPage && Astro.url.pathname.startsWith("/blog/");

        return (
          <li>
            <a
              href={n.url}
              class={clsx(
                "rounded-lg border px-2 py-1 font-semibold md:text-lg lg:px-3.5",
                isActive || isBlogPageActive
                  ? "bg-accent/20 hover:bg-accent/25 border-accent/10 shadow-sm"
                  : "hover:bg-accent/10 hover:shadow-sm border-transparent",
              )}
            >
              {n.text}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
