---
import { getPostsSorted } from "@utils/get-posts-sorted";
import { normalizeTag } from "@/utils/normalize-tag";
import Tag from "@/components/tag.astro";

type Props = {
  selectedTag?: string;
};

const posts = await getPostsSorted();
const allTags = new Set<string>();

posts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    allTags.add(tag);
  });
});

const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, undefined, { sensitivity: "base" }),
);

const isTagSelected = Astro.props.selectedTag
  ? sortedTags.includes(Astro.props.selectedTag)
  : false;
---

<ul class="flex flex-wrap items-center gap-3">
  <li>
    <Tag variant="filter" active={!isTagSelected} href="/blog"> Wszystkie </Tag>
  </li>
  {
    sortedTags.map((tag) => {
      const isActive = tag === Astro.props.selectedTag;
      const normalizedPath = "/blog/tag/" + normalizeTag(tag);

      return (
        <li>
          <Tag
            variant="filter"
            active={isActive}
            href={isActive ? "/blog" : normalizedPath}
          >
            # {tag}
          </Tag>
        </li>
      );
    })
  }
</ul>
