---
import { getPostsSorted } from "@/lib/get-posts-sorted";
import { collectAllTags, normalizeTag } from "@/lib/utils";
import Tag from "@/components/tag.astro";

type Props = {
  selectedTag?: string;
};

const posts = await getPostsSorted();
const allTags = await collectAllTags(posts);

const isTagSelected = Astro.props.selectedTag
  ? allTags.includes(Astro.props.selectedTag)
  : false;
---

<ul class="flex flex-wrap items-center gap-3">
  <li>
    <Tag variant="filter" active={!isTagSelected} href="/blog"> Wszystkie </Tag>
  </li>
  {
    allTags.map((tag) => {
      const isActive = tag === Astro.props.selectedTag;
      const normalizedPath = "/blog/tag/" + normalizeTag(tag);

      return (
        <li>
          <Tag
            variant="filter"
            active={isActive}
            href={isActive ? "/blog" : normalizedPath}
          >
            # {tag}
          </Tag>
        </li>
      );
    })
  }
</ul>
