---
import BlogItem from "@/components/blog/blog-item.astro";

type Props = {
   posts: Array<{
      id: string;
      data: {
         title: string;
         description: string;
         pubDate: Date;
         updatedDate?: Date;
         heroImage: ImageMetadata;
      };
   }>;
};
const { posts } = Astro.props;
---

<div class="grid gap-0">
  {
    posts.map((post) => {
      const formattedTime = new Intl.DateTimeFormat("pl-PL", {
        year: "numeric",
        month: "long",
        day: "numeric",
      }).format(
        post.data.updatedDate
          ? new Date(post.data.updatedDate)
          : new Date(post.data.pubDate),
      );

      return <BlogItem post={post} formattedTime={formattedTime} />;
    })
  }
</div>
