---
import "../styles/global.css";
import "@fontsource-variable/jetbrains-mono";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import PreventThemeFlash from "../components/PreventThemeFlash.astro";
import SEO from "../components/SEO.astro";
import { ClientRouter } from "astro:transitions";

import { mainEntrance } from "../utils/animation";
---

<!doctype html>
<html lang="pl" transition:animate="fade">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <slot name="head">
      <SEO />
    </slot>

    <PreventThemeFlash />

    <!-- <ClientRouter fallback="swap" /> -->
    <!-- disabled until server islands are fixed -->

    <script is:inline>
      document.addEventListener("astro:after-swap", function () {
        document.documentElement.classList.toggle(
          "dark",
          localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
              window.matchMedia("(prefers-color-scheme: dark)").matches)
        );
        localStorage.theme = "light";
        localStorage.theme = "dark";
        localStorage.removeItem("theme");
      });
    </script>
  </head>
  <body class="text-foreground bg-background p-5 lg:p-0">
    <div class="mx-auto flex max-w-[58rem] flex-col gap-10 py-3 lg:py-10">
      <Navigation />

      <main
        class="flex min-h-[40rem] flex-col gap-8 lg:gap-9"
        transition:animate={mainEntrance}>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @keyframes mainEntrance {
    0% {
      scale: 0.96;
      opacity: 0;
      translate: 0 4lh;
      filter: blur(10px);
    }
  }
</style>

<!-- <script>
  const remakeScript = () => {
    const islandScript = document.querySelector("[data-island-id]");
    const scriptAtributes = islandScript?.attributes;

    const copiedIslandScript = islandScript?.cloneNode(true);

    const newScript = document.createElement("script");

    [...Array.from(scriptAtributes || [])].forEach(({ name, value }) =>
      newScript.setAttribute(name, value)
    );

    newScript.textContent = `
async function workaround(){
  ${copiedIslandScript?.textContent || ""}
  return "workaround completed"
}

workaround()
    `;

    islandScript?.parentElement?.appendChild(newScript);
    islandScript?.remove();
  };

  document.addEventListener("astro:after-swap", remakeScript);
</script> -->
