---
import CommonHead from "./common-head.astro";
import CommonBody from "./common-body.astro";
---

<!doctype html>
<html lang="pl">
  <head>
    <CommonHead faviconScript="rerun">
      <slot name="head" slot="head" />
    </CommonHead>
  </head>
  <body class="text-foreground bg-background min-h-screen p-4 md:p-9">
    <CommonBody withSpacer={false}>
      <slot />
    </CommonBody>
  </body>
</html>
