---
import { ClientRouter } from "astro:transitions";
import CommonHead from "./common-head.astro";
import CommonBody from "./common-body.astro";
---

<!doctype html>
<html lang="pl">
  <head>
    <CommonHead>
      <slot name="head" slot="head" />
    </CommonHead>
    <ClientRouter />
  </head>
  <body class="text-foreground bg-background min-h-screen p-4 md:p-9 md:pt-7">
    <CommonBody mainClass=" min-h-[45rem]" withSpacer={true}>
      <slot />
    </CommonBody>
  </body>
</html>
